.budget-td .ant-input{
    border: 0;
}

.budget-td .ant-input:focus,.ant-input-focused{
    border-color: white;
    box-shadow: none
}

.budget-td>td.ant-table-cell-row-hover{
    background-color: white !important;
}

.ant-table-wrapper .ant-table-footer{
    padding: 8px 16px;
}